body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    }
    .calculator {
         background-color: #eb8ef0;
        border-radius: 10px; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
        padding: 20px; 
        max-width: 320px; 
        width: 100%;
    }
    #display { 
       width: 100%; 
       height: 40px; 
       font-size: 24px; 
       text-align: right; 
       margin-bottom: 10px; 
       border: none; 
       background-color: #f0f0f0; 
       padding: 5px; 
       border-radius: 5px;
    }

    .buttons { 
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
    }

    button {
    padding: 20px; 
    font-size: 18px; 
    border: none; 
    border-radius: 5px; 
    background-color: #e0e0e0; 
    cursor: pointer; 
    transition: background-color 0.3s;
    }

    button:hover {
    background-color: #c0c0c0;
    }
    .exit-btn { margin-top: 20px; 
        width: 100%; 
        padding: 15px; 
        background-color:darksalmon; 
        color: white; 
        font-size: 18px;
    }
    .exit-btn:hover {
    background-color: #ff3333;
    }
    
